<br/>
<br/>
<ion-view cache-view="false">
<ion-content>


<ion-slide-box  auto-play="true"  slide-interval="2000" does-continue="true">

    <ion-slide>
      <img src="http://s2.postimg.org/mmozdkrex/image1_3.jpg" >
  </ion-slide>
  <ion-slide>
         <img src="http://s28.postimg.org/3qnp2znzx/googl1.png">
  </ion-slide>
  <ion-slide>
      <img src="http://s8.postimg.org/i13dclmmd/ima1.jpg">
  </ion-slide>
  <ion-slide>
      <img src="http://s15.postimg.org/txi1dxzej/clothing_fashion_man_men_model_Favim_com_321281.jpg">
  </ion-slide>
  <ion-slide>
      <img src="http://s22.postimg.org/uhc7meg4x/googl2.pnghttp://s22.postimg.org/uhc7meg4x/googl2.png">
  </ion-slide>
</ion-slide-box>

<ion-nav-buttons side="primary">
 <button class="button" ng-click="doSomething()">
   I'm a button on the primary of the navbar!
 </button>
</ion-nav-buttons>

<center>
<div  align="center" style="border-radius: 10px";>
  <!-- <img src="http://s8.postimg.org/uxeyepsyd/vasavifin.jpg" width="100%" height="100%" >  -->

  <img src="http://s10.postimg.org/fy117rxjd/vasavi_logo4.jpg" width="100%" height="100%" >




<!--<span style="font-size:35px;letter-spacing: 10px;position:relative;top:33px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  VAISHNAVI </span>
<br/><span style="font-size:18px;padding-top: 150px;position:relative;top:42px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  Complex </span>-->

</div>
</center>
<!--
<div  align="center" style="background-color:#33cd5f;color:white;width:375px;;height:110px;border-radius: 10px;">
<span style="font-size:35px;letter-spacing: 20px;text-shadow: 10px 10px 5px #888888;position:relative;top:33px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  VASAVI </span>
<br/><span style="font-size:18px;padding-top: 150px;position:relative;top:42px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  Complex </span>


<span style="font-size:35px;letter-spacing: 20px;text-shadow: 10px 10px 5px #888888;position:relative;top:33px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  VAISHNAVI </span>
<br/><span style="font-size:18px;padding-top: 150px;position:relative;top:42px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  Complex </span>
</div>
 -->

 <div class="row">

       <div class="col" >

         <a  href="#/app/modals/Men"   >
      <!--<img src="/img/icon1.jpg">-->
      <img src="http://s21.postimg.org/w34szx0nr/icon11.jpg" >
      <!--<h2 class="vertical-text">Man</h2>-->

    </a>


  </div>

       <div class="col" >
         <a  href="#/app/modals/Women">

      <img src="http://s11.postimg.org/bbtio1klf/icon31.jpg" >
      <!--<h2 class="vertical-text">Women</h2>-->

    </a>
       </div>

   </div>

   <div class="row">

           <div class="col" >
             <a  href="#/{{item.id}}"  >

          <img src="http://s12.postimg.org/xg98p6dpp/icon21.jpg"  >
          <!--<h2 class="vertical-text">Children</h2>-->

        </a>

           </div>

           <div class="col" >
             <a  href="#/{{item.id}}"  >

          <img src="http://s27.postimg.org/eeyvsyos3/icon41.jpg" >
          <!--<h2 class="vertical-text">Home-Decor</h2>-->

        </a>

           </div>

      </div>


<ion-footer-bar>

<a href="#/app/search" style="text-decoration:none ;height:3%;width:100%; " >
  <button class="button button-full button-balanced" >
   Search By Shop
  </button>

</a>

</ion-footer-bar>




</ion-content>
</ion-view>
