  <ion-view view-title="Favourites">
    <ion-content>
  <h1>{{Playlist}}</h1>
  <ion-item ng-repeat="item in favouriteList"
             class="item-thumbnail-left" href="#/app/showItem/{{item._id}}"  ng-mouseover="favImage = true" ng-mouseleave="favImage = false">

     <img ng-src="{{item.item_image_url[0]}}"  />
     <h2 >{{item.item_name}}   </h2>
     <h3 >Shop Name : {{item.shop_name}}</h3>
      <h3 style="float:left;width:50%">Shop No : {{item.shop_no}}</h3>
      <!-- Favourate -->
       <a class="ion-android-favorite large-green"   ng-show="favImage" ng-click="addToFavourites('{{item._id}}')"></a>

   </ion-item>

    </ion-content>
  </ion-view>
