</br>
</br>
<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true"  slide-interval="2000" does-continue="true" >
  <ion-slide>
      <img src="/img/buddha.jpg">
  </ion-slide>
  <ion-slide>
         <img src="/img/ima2.jpg">
  </ion-slide>
  <ion-slide>
      <img src="/img/ima3.jpg">
  </ion-slide>
  <ion-slide>
      <img src="/img/ima4.jpg">
  </ion-slide>
  <ion-slide>
      <img src="/img/ima5.jpg">
  </ion-slide>
</ion-slide-box>

<ion-nav-buttons side="primary">
 <button class="button" ng-click="doSomething()">
   I'm a button on the primary of the navbar!
 </button>
</ion-nav-buttons>


<center>
<div  align="center" style="background-color:#33cd5f;color:white;width:375px;;height:110px;border-radius: 10px;">
<span style="font-size:35px;letter-spacing: 10px;position:relative;top:33px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  MANA </span>
<br/><span style="font-size:18px;padding-top: 150px;position:relative;top:42px;font-family:Copperplate / Copperplate Gothic Light, sans-serif;">  AMARAVATHI </span>

</div>
</center>
<!-- <div style="align:center;margin-bottom:20px" >
  <img src="/img/namefin.png" width="375px" height="100px">
</div> -->

<!--
<div align="center" style="background-color:#FFFFCC;color:white;border:1px solid #73AD21;">
  <a  href="#/app/modals/Men"  class="item item-thumbnail-left boredr-remove" style="background-color:transparent;width:200px;height:100px;">
<img src="/img/name2.png" width="370px" height="110px" overflow="Auto">
<h2 > shop for</h2> </br>
<h2 > MEN</h2>
</div>
<div align="center" style="background-color:#FFFFCC;color:white;border:1px solid #73AD21;">
  <a  href="#/app/modals/Women"  class="item item-thumbnail-left boredr-remove" style="background-color:transparent">
<img src="/img/women.jpg" width="220px" height="100px" overflow="Auto">
<h2 > shop for</h2> </br>
<h2 > WOMEN</h2>
</div>
  -->
</br>

<div style="float:left; margin-left:10px;";>
  <a  href="#/app/modals/Men" >
   <img src="/img/mennw.png" width="170px" height="120px"; margin-left="10px">
</a>
 </div>

 <div style="float:right; margin-right:10px; ">
  <a   href="#/app/modals/Women">
    <img src="/img/mennw.png" width="170px" height="120px"; margin-left="10px"> </a>
</a>
  </div>

  <div style="float:left; margin-left:10px;margin-bottom:20px;margin-top:10px">

     <img src="/img/womennw1.png" width="170px" height="120px"; margin-left="10px">


   </div>

   <div style="float:right; margin-right:10px;margin-bottom:20px;margin-top:10px">
      <img src="/img/womennw1.png" width="170px" height="120px"; margin-left="10px">

    </div>

<a href="#/app/categ" style="text-decoration:none;margin-top:20px">
  <button class="button button-full button-balanced" >
   Select your choice of interest
  </button>
</a>
