<ion-view view-title="Dresses Bazar">
  <ion-content>

    <label class="item item-input">
        <input type="text" placeholder="Shop Search" ng-model="search">
    </label>


    <ion-item ng-repeat="shop in shopDetails | filter:search"
               class="item item-thumbnail-left"  href="#/app/shopInfo/{{shop._id}}" >

      <img ng-src="{{shop.shop_image}}"  />

       <h2>{{shop.shop_name}}</h2>
        <h2>{{shop.shop_no}}</h2>
       <h3>{{shop.shop_owner}}</h3>

     </ion-item>
  </ion-content>
</ion-view>
