<ion-view view-title="Item">
    <ion-content class="item">
<ion-item >
      <a   href="#/app/visitedItems/5659663420a4a419f8872ae4/5">
        <button class="button button-positive">
            Top Five Visited(In your shop)
        </button>
      </a>
</ion-item>
<ion-item>
      <a   href="#/app/favouritedItems/5659663420a4a419f8872ae4/5">
        <button class="button button-positive">
          Top favourite Items(In your shop)
        </button>
      </a>

</ion-item>

<ion-item>
      <a   href="#/app/createItems/5659663420a4a419f8872ae4">
        <button class="button button-positive">
          Upload Item(s)
        </button>
      </a>

</ion-item>

    </ion-content>
  </ion-view>
